# dependencies
npm-debug.log*
/node_modules

# production
/.build
/build
/dist

#cache
/.cache

#jest
__diff_output__
tests/diffs

# typescript
.tsbuildinfo

# MacOS
.DS_Store

# env
.env
.env.local

# Visual Studio Code
.vscode
